.heading {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: rgb(66, 76, 79);
}

.body {
  color: rgb(66, 76, 79);
  font-size: 1.125rem;
  line-height: 1.625em;
  letter-spacing: -0.005625rem;
  text-transform: lowercase;
}
